@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    transition: all .2s ease-in-out;
}
header h1{
    text-align: center;
    list-style: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

}

.backButton{
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    transition: all .2s ease-in-out;
}

.backButton a{
    color: black;
    text-decoration: none;
}

.social{
    margin-top: 10%;
    text-align: center;
}
.social a{
    text-decoration: none;
    font-size: 40px;
    transition: all .4s ease-in-out;
    color: black;

}

.social a:hover{
    text-decoration: underline;
    font-size: 50px;
    cursor: pointer;
}
